<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Russo+One&family=Yanone+Kaffeesatz:wght@300&display=swap" rel="stylesheet">
        <title>JB Steez</title>
    </head>
    <body>

        <h1> hello</h1>

        <a href="#"> Shop</a>
        <a href="#"> Music</a>
        






    </body>
</html>